In [ ]:
pip install --trusted-host=pypi.org --trusted-host=files.pythonhosted.org --user playwright

In [7]:
import asyncio
from playwright.async_api import async_playwright

async def main():
    async with async_playwright() as p:
        for browser_type in [p.chromium, p.firefox, p.webkit]:
            browser = await browser_type.launch()
            page = await browser.new_page()
            await page.goto('http://whatsmyuseragent.org/')
            await page.screenshot(path=f'example-{browser_type.name}.png')
            await browser.close()

In [12]:
import pandas as pd
import numpy as np
   
# creating a dataframe
df = pd.DataFrame({'A': ['John', 'Boby', 'Mina', 'Peter', 'Nicky'],
      'B': ['Masters', 'Graduate', 'Graduate', 'Masters', 'Graduate'],
      'C': [27, 23, 21, 23, 24]})
df

       A         B   C
0   John   Masters  27
1   Boby  Graduate  23
2   Mina  Graduate  21
3  Peter   Masters  23
4  Nicky  Graduate  24

In [25]:
table = pd.pivot_table(df, values ='C', index =['A','B'],  aggfunc = pd.Series.nunique)
table

                C
A     B
Boby  Graduate  1
John  Masters   1
Mina  Graduate  1
Nicky Graduate  1
Peter Masters   1

In [28]:
pd.pivot_table(df, 
                         values='C',  
                         index=['B'], 
                        
                         aggfunc=[len, np.mean, np.std])
          #.reset_index()

         len       mean       std
           C          C         C
B
Graduate   3  22.666667  1.527525
Masters    2  25.000000  2.828427