In [1]:
from selenium import webdriver
from selenium.webdriver.support import expected_conditions as ec
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.common.exceptions import *
from selenium.webdriver.common.keys import Keys
import re
import pandas as pd
import numpy as np
import glob
import os
from datetime import datetime,date, timedelta
import time
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')

In [2]:
import datetime
def last_day_of_month(any_day):
    # The day 28 exists in every month. 4 days later, it's always next month
    next_month = any_day.replace(day=28) + datetime.timedelta(days=4)
    # subtracting the number of the current day brings us back one month
    return next_month - datetime.timedelta(days=next_month.day)
def find_number(text):
    num = re.findall(r'[0-9]+',text)
    return ".".join(num)

In [14]:
last_day_of_month((datetime.datetime.today() - timedelta(days = 32*(1+i)))).strftime("%d%m%Y")

'31122022'

In [20]:
datetime.datetime.today() - timedelta(days = 30*(1+i))

datetime.datetime(2022, 12, 3, 15, 51, 17, 730538)

In [22]:
datetime.datetime.today() - timedelta(days = 30*(2+i))

datetime.datetime(2022, 11, 3, 15, 51, 28, 310189)

In [4]:
sheet1 = []
sheet2 = []

In [28]:
folder_path = 'C:/Users/018598/Downloads/'
file_type = r'\*xlsx'
for i in range(6,7):
    try:
        g = last_day_of_month((datetime.datetime.today() - timedelta(days = 30*(2+i)))).strftime("%B %Y")
        f = last_day_of_month((datetime.datetime.today() - timedelta(days = 30*(1+i)))).strftime("%d%m%Y")
        print(g,f)
        wd1 = webdriver.Chrome('D:\libs\chromedriver.exe')
        url = "https://rbi.org.in/Scripts/Data_Sectoral_Deployment.aspx"
        wd1.get(url)
        m = wd1.find_element_by_partial_link_text(g)
        m.click()
        l = wd1.find_element_by_partial_link_text('Statements')
        l.click()
        time.sleep(15)
        files = glob.glob(folder_path + file_type)
        key=os.path.getmtime
        max_file = max(files, key=key).replace(r'/', '\\')
        for fi in os.listdir(folder_path):
            os.rename(max_file,folder_path+f+'.xlsx')
    except:
        print(folder_path+f+'.xlsx')
    finally:   
        data = pd.read_excel(folder_path+f+".xlsx", sheet_name=0, skiprows=3, usecols=np.arange(6))
        data = data.dropna()
        d = list(data.columns)
        d[0] = 'Sector'
        data.columns = d
        data.head()
        data = data.melt(id_vars=["Sector"], var_name="Date", value_name="Value")
        data['Date'] = pd.to_datetime(data.Date)
        da1=data['Sector'].apply(lambda x: find_number(x))
        k=[]
        for j in range(len(data['Sector'])):
            k.append(((list(data['Sector'])[j]).replace(da1[j]+'.','')).strip())
        data['S.No'] = da1
        data['Sector'] = k
        sheet1.append(data[['S.No','Sector', 'Date', 'Value']])

        data1 = pd.read_excel(folder_path+f+".xlsx", sheet_name=1, skiprows=3, usecols=np.arange(6))
        data1 = data1.dropna()
        d = list(data1.columns)
        d[0] = 'Sector'
        data1.columns = d
        data1.head()
        data1 = data1.melt(id_vars=["Sector"], var_name="Date", value_name="Value")
        data1['Date'] = pd.to_datetime(data1.Date)
        da1=data1['Sector'].apply(lambda x: find_number(x))
        k=[]
        for j in range(len(data1['Sector'])):
            k.append(((list(data1['Sector'])[j]).replace(da1[j]+'.','')).strip())
        data1['S.No'] = da1
        data1['Sector'] = k
        sheet2.append(data1[['S.No','Sector', 'Date', 'Value']])

May 2022 30062022
C:/Users/018598/Downloads/30062022.xlsx

In [11]:
folder_path = 'C:/Users/018598/Downloads/Dem/'
import os
for f in os.listdir(folder_path):
    data = pd.read_excel(folder_path+f, sheet_name=0, skiprows=3, usecols=np.arange(6))
    data = data.dropna()
    d = list(data.columns)
    d[0] = 'Sector'
    data.columns = d
    data.head()
    data = data.melt(id_vars=["Sector"], var_name="Date", value_name="Value")
    data['Date'] = pd.to_datetime(data.Date)
    da1=data['Sector'].apply(lambda x: find_number(x))
    k=[]
    for j in range(len(data['Sector'])):
        k.append(((list(data['Sector'])[j]).replace(da1[j]+'.','')).strip())
    data['S.No'] = da1
    data['Sector'] = k
    sheet1.append(data[['S.No','Sector', 'Date', 'Value']])

#     data1 = pd.read_excel(folder_path+f, sheet_name=1, skiprows=3, usecols=np.arange(6))
#     data1 = data1.dropna()
#     d = list(data1.columns)
#     d[0] = 'Sector'
#     data1.columns = d
#     data1.head()
#     data1 = data1.melt(id_vars=["Sector"], var_name="Date", value_name="Value")
#     data1['Date'] = pd.to_datetime(data1.Date)
#     da1=data1['Sector'].apply(lambda x: find_number(x))
#     k=[]
#     for j in range(len(data1['Sector'])):
#         k.append(((list(data1['Sector'])[j]).replace(da1[j]+'.','')).strip())
#     data1['S.No'] = da1
#     data1['Sector'] = k
#     sheet2.append(data1[['S.No','Sector', 'Date', 'Value']])

In [16]:
da1.values

array(['', '', '', '1', '2', '2.1', '2.2', '2.3', '3', '3.1', '3.2',
       '3.3', '3.4', '3.5', '3.6', '3.7', '3.7.1', '3.7.2', '3.8',
       '3.9.1', '3.9.1', '3.9.2', '3.10.2', '4', '4.1', '4.2', '4.3',
       '4.4', '4.5', '4.6', '4.7', '4.8', '4.9', '3', '4', '5', '', '',
       '', '', '', '', '', '', '', '', '1', '2', '2.1', '2.2', '2.3', '3',
       '3.1', '3.2', '3.3', '3.4', '3.5', '3.6', '3.7', '3.7.1', '3.7.2',
       '3.8', '3.9.1', '3.9.1', '3.9.2', '3.10.2', '4', '4.1', '4.2',
       '4.3', '4.4', '4.5', '4.6', '4.7', '4.8', '4.9', '3', '4', '5', '',
       '', '', '', '', '', '', '', '', '', '1', '2', '2.1', '2.2', '2.3',
       '3', '3.1', '3.2', '3.3', '3.4', '3.5', '3.6', '3.7', '3.7.1',
       '3.7.2', '3.8', '3.9.1', '3.9.1', '3.9.2', '3.10.2', '4', '4.1',
       '4.2', '4.3', '4.4', '4.5', '4.6', '4.7', '4.8', '4.9', '3', '4',
       '5', '', '', '', '', '', '', '', '', '', '', '1', '2', '2.1',
       '2.2', '2.3', '3', '3.1', '3.2', '3.3', '3.4', '3.5', '3.6', '3.7',
       '3.7.1', '3.7.2', '3.8', '3.9.1', '3.9.1', '3.9.2', '3.10.2', '4',
       '4.1', '4.2', '4.3', '4.4', '4.5', '4.6', '4.7', '4.8', '4.9', '3',
       '4', '5', '', '', '', '', '', '', '', '', '', '', '1', '2', '2.1',
       '2.2', '2.3', '3', '3.1', '3.2', '3.3', '3.4', '3.5', '3.6', '3.7',
       '3.7.1', '3.7.2', '3.8', '3.9.1', '3.9.1', '3.9.2', '3.10.2', '4',
       '4.1', '4.2', '4.3', '4.4', '4.5', '4.6', '4.7', '4.8', '4.9', '3',
       '4', '5', '', '', '', '', '', '', ''], dtype=object)

In [13]:
s1 = pd.concat(sheet1)
s2 = pd.concat(sheet2)

In [14]:
with pd.ExcelWriter('RBI_Gross_Credit.xlsx') as writer:
    s1.to_excel(writer, sheet_name='Sheet_name_1')
    s2.to_excel(writer, sheet_name='Sheet_name_2')

In [211]:
datetime.datetime.today().replace(day=28) + datetime.timedelta(days=4)

datetime.datetime(2023, 1, 1, 17, 28, 15, 309116)

In [ ]:
pd.to_datetime(data1.Date)

In [83]:
import pyodbc

driver= 'SQL Server'
server= 'chdataanalytics'
db= 'dataanalytics'
user= 'sa'
password= 'analytics@123'

conn = pyodbc.connect("driver={%s};server=%s;database=%s;uid=%s;pwd=%s" % ( driver, server, db, user, password ) 
)
cursor = conn.cursor()
#cursor.execute("select top 10 * from Datamart..kvb_tn_ps_2019").fetchall()

In [90]:
conn.execute("""ALTER TABLE DATAANALYTICS..S018598_new ADD Mail varchar(233);""")

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [84]:
import pandas as pd 
d = pd.read_sql("select * from DATAANALYTICS..S018598_new", conn)

In [ ]:
data.to_sql('DATAANALYTICS..S018598rrbi', conn)